Sistema_CIF/Sistema_CIF/Service References/Proxies.Categoria/CategoriaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55544/Services/CategoriaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SistemaCIF_Service.DTOS" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategoria">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaCIF_Service.DTOS" minOccurs="0" name="ObtenerCategoriaResult" nillable="true" type="q1:ArrayOfCategoriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaCIF_Service.DTOS" minOccurs="0" name="CategoriaDTO" nillable="true" type="q2:CategoriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SistemaCIF_Service.DTOS" minOccurs="0" name="CategoriaDTO" nillable="true" type="q3:CategoriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SistemaCIF_Service.DTOS" minOccurs="0" name="CategoriaDTO" nillable="true" type="q4:CategoriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>