Sistema_CIF/Sistema_CIF/Service References/Proxies.Categoria/CategoriaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CategoriaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55544/Services/CategoriaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55544/Services/CategoriaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55544/Services/CategoriaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SistemaCIF_Service.DTOS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoriaService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ICategoriaService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoriaService_ObtenerCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCategoria" />
  </wsdl:message>
  <wsdl:message name="ICategoriaService_ObtenerCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoriaService_CrearCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCategoria" />
  </wsdl:message>
  <wsdl:message name="ICategoriaService_CrearCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoriaService_RemoverCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverCategoria" />
  </wsdl:message>
  <wsdl:message name="ICategoriaService_RemoverCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoriaService_EditarCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarCategoria" />
  </wsdl:message>
  <wsdl:message name="ICategoriaService_EditarCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarCategoriaResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoriaService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriaService/DoWork" message="tns:ICategoriaService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriaService/DoWorkResponse" message="tns:ICategoriaService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriaService/ObtenerCategoria" message="tns:ICategoriaService_ObtenerCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriaService/ObtenerCategoriaResponse" message="tns:ICategoriaService_ObtenerCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriaService/CrearCategoria" message="tns:ICategoriaService_CrearCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriaService/CrearCategoriaResponse" message="tns:ICategoriaService_CrearCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriaService/RemoverCategoria" message="tns:ICategoriaService_RemoverCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriaService/RemoverCategoriaResponse" message="tns:ICategoriaService_RemoverCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriaService/EditarCategoria" message="tns:ICategoriaService_EditarCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriaService/EditarCategoriaResponse" message="tns:ICategoriaService_EditarCategoria_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICategoriaService" type="tns:ICategoriaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ICategoriaService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategoria">
      <soap:operation soapAction="http://tempuri.org/ICategoriaService/ObtenerCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearCategoria">
      <soap:operation soapAction="http://tempuri.org/ICategoriaService/CrearCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverCategoria">
      <soap:operation soapAction="http://tempuri.org/ICategoriaService/RemoverCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarCategoria">
      <soap:operation soapAction="http://tempuri.org/ICategoriaService/EditarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoriaService">
    <wsdl:port name="BasicHttpBinding_ICategoriaService" binding="tns:BasicHttpBinding_ICategoriaService">
      <soap:address location="http://localhost:55544/Services/CategoriaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>